{{- range .Values.components }}
{{- if .image.prometheus.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .image.comp_name }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
{{- end -}}
{{- end -}}       